body {
            font-family: 'Poppins', sans-serif;
            background-color: #f7f7f7;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            color: #333;
        }
        
        .token-container {
            background-color: white;
            border-radius: 15px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
            padding: 40px;
            width: 100%;
            max-width: 400px;
            text-align: center;
            position: relative;
            padding-top: 100px;
        }
        
        .logo {
            position: absolute;
            width: 300px;
            margin-top: -110px;
            margin-left: -147px;
        }
        
        h2 {
            color: #2c3e50;
            margin-bottom: 10px;
            font-weight: 700;
        }
        
        .user-info {
            color: #770202;
            margin-bottom: 30px;
            font-weight: bold;
            font-size: 20px
        }
        
        .alert {
            background-color: #ffebee;
            color: #770202;
            padding: 10px;
            border-radius: 5px;
            border: 2px solid #480101;
            margin-bottom: 20px;
            font-size: 14px;
        }
        
        form {
            display: flex;
            flex-direction: column;
        }
        
        .input-group {
            position: relative;
            margin-bottom: 20px;
        }
        
        input {
            width: 100%;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 8px;
            font-size: 16px;
            transition: border-color 0.3s;
            background-color: #f8f9fa !important;
            box-sizing: border-box;
            text-align: center;
            letter-spacing: 2px;
            font-weight: bold;
        }
        
        input:focus {
            border-color: #770202;
            outline: none;
            box-shadow: 0 0 0 2px rgba(89, 1, 1, 0.2);
        }
        
        button[type="submit"] {
            background-color: #770202;
            color: white;
            border: none;
            padding: 15px;
            border-radius: 8px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
            font-weight: bold;
            margin-top: 10px;
        }
        
        button[type="submit"]:hover {
            background-color: #480101;
        }
        
        .info {
            background-color: #e8f5e9;
            padding: 10px;
            border-radius: 5px;
            margin-top: 20px;
            font-size: 12px;
        }