<!DOCTYPE html>
<html>
  <head>
    <title>Hello, World!</title>
    <link rel="stylesheet" href="nav.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <div class="container-nav">
      <nav class="navigation">
        <button type="submit"> <i class='bx  bx-home'  ></i> </button>
        <button type="submit"> <i class='bx  bx-cursor-add'  ></i>  </button>
        <button type="submit">  ></i>  </button>
        <button type="submit"></button>
        
        
        
      </nav>
      
    </div>
  </body>
</html>